# Dependencias
node_modules/

# Archivos de compilación
dist/

# Archivos de entorno
.env

# Logs
logs
*.log
npm-debug.log*

# Directorios de cobertura
coverage/

# Archivos TypeScript
*.tsbuildinfo

# Archivos de VS Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Archivos subidos
uploads/*
!uploads/.gitkeep